@charset "UTF-8";

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.wrapper #sidebar.active {
  margin-left: -250px;
}

.wrapper #sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #76c04e;
  color: #fff;
  transition: all 0.3s;
}

.wrapper #sidebar .sidebar-header {
  background: #7bc952;
}

.wrapper #sidebar img {
  height: 250px;
  padding: 5px;
}

.wrapper #sidebar ul li {
  border-bottom: 0.5px solid #fff;
}

.wrapper #sidebar ul li a {
  text-align: center;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.wrapper #sidebar ul li a:hover {
  color: #76c04e;
  background: #fff;
}

.wrapper #sidebar ul li a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.wrapper #sidebar ul li.active > a {
  color: #fff;
  background: #6d7fcc;
}

.wrapper #content.active {
  width: 100%;
}

.wrapper #content {
  width: calc(100% - 250px);
  padding: 0px;
  min-height: 100vh;
  transition: left 2s;
  position: absolute;
  top: 0;
  right: 0;
}

.wrapper #content #progressBar {
  position: relative;
  z-index: 1;
  width: 70%;
  padding: 10px;
  margin: auto;
}

.wrapper #content #progressBar #stepa {
  left: 10%;
}

.wrapper #content #progressBar #stepa h6::before {
  font-family: "Font Awesome 5 Brands";
  content: "\F430";
  display: block;
}

.wrapper #content #progressBar #stepb {
  left: 20%;
}

.wrapper #content #progressBar #stepb h6::before {
  transition: background-color 2s, color 2s;
  font-family: "Font Awesome 5 Free";
  content: "\F044";
  display: block;
}

.wrapper #content #progressBar #stepb h6::after {
  background-position: right bottom;
  content: "";
  width: 100%;
  height: 5px;
  top: 0.5pc;
  left: -47%;
  background-color: white;
  position: absolute;
  transition: all 1s ease-out;
  z-index: -1;
}

.wrapper #content #progressBar #stepb h6.step::after {
  background-position: left bottom;
  background-color: green;
}

.wrapper #content #progressBar h6 {
  color: #fff;
  text-align: center;
}

.wrapper #content #progressBar h6::before {
  width: 40px;
  height: 25px;
  margin: auto;
  left: 10%;
  color: #76c04e;
  background-color: #fff;
  border-radius: 3px;
}

.wrapper #content #progressBar h6.step {
  color: green;
}

.wrapper #content #progressBar h6.step::before {
  color: #fff;
  background-color: green;
}

.wrapper #content #upload-box {
  padding: 20px;
}

.wrapper #content #upload-box .box {
  width: 80%;
  border: solid 1px lightgray;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.wrapper #content #upload-box .box #inner-box {
  transition: all 3s linear;
  padding: 60px;
}

.wrapper #content #upload-box .box #inner-box .h {
  border: solid 1px lightgray;
  color: lightgray;
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-family: arial;
}

.wrapper #content #upload-box .box #inner-box .h:hover {
  background-color: #76c04e;
  color: #fff;
  height: 120px;
  outline-color: #76c04e;
  cursor: pointer;
}

.wrapper #content #upload-box .box #inner-box .ic {
  background: #76c04e;
  color: #fff;
}

.wrapper #content #upload-box .box #end {
  background-color: lightgray;
  height: 10%;
  width: 100%;
  padding: 5px;
}

.wrapper #content .categoriaBox {
  border: solid 1px lightgray;
  height: 230px;
  width: 200px;
  padding: 5px;
  box-shadow: 5px 5px 10px #76c04e;
  border-radius: 10px;
}

.wrapper #content .categoriaBox h4 {
  color: #76c04e;
}

.wrapper #content .categoriaBox:hover {
  background-color: #76c04e;
  box-shadow: yellowgreen;
}

.wrapper #content .categoriaBox:hover h4 {
  color: white;
}

.wrapper #content input[type=file] {
  opacity: 1;
  z-index: -1;
  position: absulte;
  display: none;
}

.notV {
  left: 10px;
  display: none;
}

